@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>EG Additional Project</title>

    <meta charset="utf-8" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/vendor")
</head>
<body>
    <div id="applicationHost"></div>
    <script type="text/javascript" src="~/Scripts/require.js" data-main="/App/main"></script>
</body>
</html>


