<div>
    Questions
    <div data-bind="foreach: questions">
        <div>
            <span data-bind="text: $index() + 1"></span>
            <span data-bind="text: title"></span>
        </div>
        <div>select correct answer</div>
        <div data-bind="foreach: answersList">
            <div>
                <span data-bind="text: $index()+1"></span>
                <div data-bind="click: $parent.computeCorrectness.bind($parent), css: { 'single-select-answer': $parent.type == 'radio', 'multiple-select-answer': $parent.type == 'checkbox' }">
                    <span class="checked" data-bind="visible: checked"></span>
                </div>
                <span data-bind="text: text"></span>
            </div>
            <hr /><hr />
        </div>
        <hr />
        <button data-bind="click: $root.checkForCorrectness.bind($root)">check</button>
    </div>
</div>