<div class="container">
    <h3>Course list page</h3>
    <div class="container-course-list">
        <div class="course-list-navigation">
            <button class="navigation-create" data-bind="click: createCourse">Create new course</button>
        </div>
        <div class="list-course-data" data-bind="foreach: courseList">
            <a data-bind="click: (function(){ $root.toCourse(id)})">
                <div class="course-data-position-top">
                    <div class="position-top-title" data-bind="text: title"></div>
                </div>
                <div class="course-data-navigation">
                    <a class="navigation-preview" data-bind="click: $root.coursePreview">Preview</a>
                    <a class="navigation-delete" data-bind="click: (function(){ $root.deleteCourse(id)})">Delete</a>
                </div>
                <div class="course-data-position-bottom">
                    <div class="position-bottom-created-by">Created by: <span data-bind="text: createdBy"></span></div>
                    <div class="position-bottom-created-on">Created on: <span data-bind="text: createdOn"></span></div>
                    <div class="position-bottom-last-modified">Last modified: <span data-bind="text: lastModified"></span></div>
                </div>
            </a>
        </div>
    </div>
</div>
