<div class="container">
    <a href="#">To course list</a>
    <div class="course-title">
        <span>Course title: </span>
        <span name="course-title" data-bind="contentEditable: true, htmlLazy: courseTitle"></span>
        <span class="course-title-validate-message" data-bind="visible: courseTitle.hasError, text: courseTitle.validationMessage"></span>
    </div>
    <div class="course-description">
        <div>
            <span>Description: </span>
            <span name="course-description" data-bind="contentEditable: true, htmlLazy: courseDescription"></span>
        </div>
    </div>
    <hr />
    <!-- ko if: courseSection !== undefined -->
    <div class="course-section-list" data-bind="foreach: courseSection">
        <div data-bind="compose: { model: 'viewmodels/sectionListPartialPage', activate: true, activationData: $data }"></div>
    </div>
    <!-- /ko -->
    <button class="add-section" data-bind="click: (function(){createSection(courseId)})">Add section</button>
    <button data-bind="click: editTitle, disable: courseTitle.hasError && courseTitle() == course().title ">Save Title</button>
    <button data-bind="click: editDescription">Save Description</button>
</div>