<div class="container">
    <div class="course">
        <div class="title" data-bind="text: course.title"></div>
        <div class="description" data-bind="text: course.description"></div>
        <div class="creeated-by">Created by: <span data-bind="text: course.createdBy"></span></div>
        <div>Course progress: <span data-bind="text: course.progress+'%'"></span></div>
        <!-- ko if: course.sectionList.length !== 0 -->
        <div>Sections</div>
        <hr />
        <div class="section" data-bind="foreach: course.sectionList">
            <div class="section-container">
                <div data-bind="text: title"></div>
                <div>Section progress: <span data-bind="text: progress+'%'"></span></div>
                <button data-bind="click: $root.navigateToPreviewSection.bind($root)">Pass</button>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
