<div class="partial-view-container">
    <div class="section-info">
        <div class="section-title">
            <span>Section title: </span>
            <span data-bind="attr: { contenteditable: true }, editableHTML: sectionTitle"></span>
            <span class="course-title-validate-message" data-bind="visible: sectionTitle.hasError, text: sectionTitle.validationMessage"></span>
        </div>
        <div class="section-created-by">
            <span>Created by: </span>
            <span data-bind="text: createdBy"></span>
        </div>
        <div class="section-created-on">
            <span>Created on: </span>
            <span data-bind="dateToLocalFormat: createdOn"></span>
        </div>
        <div class="section-last-modified-by">
            <span>Last modified by: </span>
            <span data-bind="text: modifiedBy"></span>
        </div>
        <div class="section-last-modified-date">
            <span>Last modified</span>
            <span data-bind="dateToLocalFormat: lastModifiedDate"></span>
        </div>
        <!-- ko: if questionList().length !== 0 -->
        <div class="question-list" data-bind="foreach: questionList">
            <div data-bind="compose: { model: 'viewmodels/question', activate: true, activationData: { courseId: $root.courseId, sectionId: $root.sectionId, questionData: $data } }"></div>
        </div>
        <!-- \ko -->
    </div>
    <hr />
    <button class="add-content" data-bind="click: createQuestion">Add question</button>
    <button data-bind="click: editSectionTitle, disable: isChangeable">Edit section title</button>
    <button data-bind="click: deleteSection">Delete Section</button>
</div>